<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-5level] [%t] %c{1} (%F:%L) - %msg%n"/>
        </Console>

        <!-- File Appender: chỉ ghi log ERROR trở lên -->
        <RollingFile name="FileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Logger riêng cho console (in ra mọi log) -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Logger riêng cho file, chỉ nhận ERROR trở lên -->
        <Logger name="com.facenet" level="error">
            <AppenderRef ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration>
